<div class="section" fxLayout="column" fxLayoutAlign="center" fxLayout.xs="column">
    <div class="form" fxLayout.xs="column">
        <div fxLayout="column" fxLayoutAlign="space-evenly center" fxLayout.xs="column">
            
            <div class="title">

                    <mat-form-field appearance="outline">
                        <input type="text" formControlName="email" matInput placeholder="Title">
                    </mat-form-field>

            </div>

                

                <div class="takenote">

                    <mat-form-field appearance="outline">
                        <input type="text" formControlName="password" matInput placeholder="Take a note..">
                    </mat-form-field>


                </div>
                <div class="closebutton">
                    <button class="button" fxLayout.xs="row"  >Close</button>

                </div>


        </div>
        <div class="rightdiv">
            <div class="imageandpara">

                <img class="image" src="../../../assets\push_pin_FILL0_wght400_GRAD0_opsz48 (2).svg" alt="">


            </div>

        </div>
    </div>
</div>