<div class="section" fxLayout="column" fxLayoutAlign="center" fxLayout.xs="column">
    <form [formGroup]="createForm" (ngSubmit)="close()">
    <div class="form" fxLayout.xs="column">
        <div fxLayout="column" fxLayoutAlign="space-evenly center" fxLayout.xs="column">
            
            <div class="title" *ngIf="show || !show" (click)="isshow()" >

                    <mat-form-field appearance="outline">
                        <input type="text" formControlName="title" matInput placeholder="title">
                    </mat-form-field>

            </div>
              <div class="takenote" *ngIf="show">

                    <mat-form-field appearance="outline">
                        <input type="text" formControlName="description" matInput placeholder="Take a note..">
                    </mat-form-field>
                </div>
                
                <div class="closebutton" *ngIf="show"  fxLayout="row" fxLayoutAlign="space-evenly center">
                  
                        
                   
                    <button class="button" fxLayout.xs="row" >Close</button>

                </div>
                <div class="icon" >
                    <app-icons></app-icons>
                </div>


        </div>
        <div class="rightdiv">
            <div class="imageandpara">
<button>
    <img class="image" src="../../../assets\push_pin_FILL0_wght400_GRAD0_opsz48 (2).svg" alt="">

</button>


            </div>

        </div>
    </div>
</form>
</div>