// .googleImage{
//     width: 40%;
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// .googleImage1{
//     height: 50%;
//     width: 90%;
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
    
// }
// .image{
//     height: 40%;
//     width: 40%;
// }
// .googleImage3{
//     font-size: larger;
//     font-weight: 100;
//     margin-left: 4%;
// }
// .imageline{
//     font-size: larger;
//     font-weight: 100;
//     margin-left: 4%;
//     display: flex;
//     justify-content: center;
// }
.container{
    background-origin: padding-box;
    border: 1px solid grey;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    border-radius: 10px;
    padding: 3%;
}
.Title{
    font-size: large;
}