<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <div class="mydiv">
        <div>
            <mat-toolbar class="example-toolbar">
                <button mat-icon-button (click)="snav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <img class="keepIcon" src="../../../assets/keepimage.png">
                <h1 class="example-app-name">
                    <div class="funDo">
                        <h2 class="F">F</h2>
                        <h2 class="u">u</h2>
                        <h2 class="n">n</h2>
                        <h2 class="D">D</h2>
                        <h2 class="o">o</h2>
                        <h2 class="oo">o</h2>
                    </div>
                </h1>
            </mat-toolbar>
        </div>
                    <form class="searchBar">
                        <button class="newIcon">
                            <span role="button" class="material-symbols-outlined">search</span>
                        </button>
                        <div class="sea">
                            <input class="search" type="text" placeholder="Search">
                        </div>
                    </form>
        <div class="cyDiv">
            <span role="button" class="material-symbols-outlined">refresh</span>
            <span role="button" class="material-symbols-outlined">view_agenda</span>
            <span role="button" class="material-symbols-outlined">settings</span>
        </div>
        <div class="profile">
            <span class="material-symbols-outlined">apps</span>
            <span class="material-symbols-outlined">account_circle</span>
        </div>
    </div>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav style="width: 300px;" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <div class="contDiv">
                <mat-nav-list>
                    <div class="NoteDi">
                        <div role="button" class="NoteD " routerLink="/dashboard/notes">
                            <div class="IconDiv" fxLayout="row" fxLayoutAlign="space-evenly center">
                                <span class="material-symbols-outlined">
                                    lightbulb
                                    </span>
                                <a mat-list-item>Notes</a>
                            </div>
                        </div>
                    </div>
                    <div class="NoteDi">
                        <div role="button" class="NoteD" routerLink=".">
                            <div class="IconDiv" fxLayout="row" fxLayoutAlign="space-evenly center">
                                <span class="material-symbols-outlined">
                                    notifications
                                    </span>
                                <a mat-list-item>Reminders</a>
                            </div>
                        </div>
                    </div>
                    <div class="NoteDi">
                        <div role="button" class="NoteD" routerLink=".">
                            <div class="IconDiv" fxLayout="row" fxLayoutAlign="space-evenly center">
                                <span class="material-symbols-outlined">
                                    edit
                                    </span>
                                <a mat-list-item>Edit</a>
                            </div>
                        </div>
                    </div>
                    <div class="NoteDi">
                        <div role="button" class="NoteD" routerLink="/dashboard/archieve">
                            <div class="IconDiv" fxLayout="row" fxLayoutAlign="space-evenly center">
                                <span class="material-symbols-outlined">
                                    archive
                                    </span>
                                <a mat-list-item>Archive</a>
                            </div>
                        </div>
                    </div>
                    <div class="NoteDi">
                        <div role="button" class="NoteD">
                            <div class="IconDiv" fxLayout="row" fxLayoutAlign="space-evenly center" routerLink="/dashboard/trash">
                                <span class="material-symbols-outlined">
                                    delete
                                    </span>
                                <a mat-list-item>Trash</a>
                            </div>
                        </div>
                    </div>
                </mat-nav-list>
            </div>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>