<div class="container" margin="20%" fxLayout="column" fxLayoutAlign="center center">
    <div class="Title">
      <span style="color: blue">F</span>
      <span style="color: red">u</span>
      <span style="color: yellow">n</span>
      <span style="color: blue">d</span>
      <span style="color: green">o</span>
      <span style="color: red">o</span>
    </div>
    <div class="Login">
      <h1>Sign in</h1>
    </div>
    <div class="Account">
        <h2>Use your Fundoo account</h2>
      </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email">
      </mat-form-field><br>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password">
      </mat-form-field>
    </div>
    
    <div><a href="http link">Forgot Password</a></div>
    <div class="lastrow">
        <!-- <button mat-button color="primary">Sign In Instead</button> -->
        <a href="http link">Create account</a>
        <button class="button" mat-raised-button color="primary">Next</button>
      </div>
</div>  
