<div class="container"  >
    <div class="mydiv" >
        <span role="button" class="material-symbols-outlined">
            archive
        </span>
        <span role="button" class="material-symbols-outlined">
            add_alert
        </span>
        <span role="button" class="material-symbols-outlined">
            image
        </span>
        <span role="button" class="material-symbols-outlined">
            person_add
        </span>
        <span role="button" class="material-symbols-outlined">
            more_vert
        </span>
        <span role="button" class="material-symbols-outlined">
            palette
        </span>

    </div>


</div>