<div class="container" style="border:1px solid grey ;margin: 7%;margin-left: 30%;margin-right: 30%;border-radius: 5px;padding: 7px;" fxLayout="column" fxLayoutAlign="space-between center">
    <div class="Title" style="font-size: large;">
      <span style="color: blue">F</span>
      <span style="color: red">u</span>
      <span style="color: yellow">n</span>
      <span style="color: blue">d</span>
      <span style="color: green">o</span>
      <span style="color: red">o</span>
    </div>
    <div class="get">
      <h1>Find your email</h1>
      <h3>Enter your recovery email</h3>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="center end">
        <button  class="button" mat-raised-button color="primary">Next</button>
    </div>
</div>  
