<div fxLayout="row wrap" fxLayoutGap="20px grid" style="padding-top: 5%; padding-left: 10%;">

    <div fxLayout="column" fxLayoutAlign=" center" >

        <mat-card class="example-card">
            <button class="pinbutton">
                <img class="pin" src="../../../assets/push_pin_FILL0_wght400_GRAD0_opsz48 (2).svg" alt="">
            </button>
            <mat-card>Title</mat-card>
            <div class="title">
                <mat-card>Description</mat-card>
            </div>
            <div class="icons">
                <app-icons></app-icons>
            </div>            
        </mat-card>   
    </div>
    
</div>